ul{
	padding:0;
	list-style-type: none;
}
.container{
	flex:1 100%;
	display:flex;
	flex-wrap:wrap;
}
.search-bar{
	width: 100%;
}
.col-sm-30{
	width:30%;
}
.col-sm-70{
	width:70%;
}
.product-container{
	width:300px;
	padding:20px;
}

.product-container img{
	width: 100%;
} 

.text-center{
	text-align: center;
}